.numSelector {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    background-color: grey;
    border-style: solid;
    border-color: black;
}

.numDisplay {
    background-color: white;
    border-style: solid;
}

span {
    display: flex;
}